@import "tailwindcss";

:root {
  --background: #272932;
  --foreground: #FFFFFF;
  --blue: #4D7EA8;
  --green: #5FBB97;
  --yellow: #FAC748;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans:var(--font-manrope);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
